*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.main{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 250px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
input{
    width: 600px;
    padding: 10px;
    background-color: wheat;
    border: none;
}
h1{
    color: plum;
}
button{
    cursor: pointer;
}
form button{
    padding: 10px;
    background-color: green;
    color: white;
    border: 0ch;
    border-radius: 3px;
}
section h2{
    text-align: center;
    color: aqua;
    margin-top: 10px;
    margin-bottom: 5px;
}
section.item {
    height: 40px;
    width: 500px;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;

}
h3,button{
    display: inline;
    margin-top: -2px;

}
h3{
    font-size: 15px;
}
.item button{
    float: left;
}
#clear{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    background-color: palegoldenrod;
    color: white;
    border: 2px;
}
#Edit{
padding: 5px 10px;
background-color: antiquewhite;
border: none;
color: white;
border-radius: 3px;
margin-left: 10px;

}
#Delete{
padding: 5px 7px;
background-color: blanchedalmond;
color: white;
border: none;
border-radius: 3px;
margin-left: 10px;
}